body{
    max-width: 1000px;/*  ancho maximo*/
    margin:0 auto;/* margenes */
}
body{
    background-image: url(../IMAGENES/fondo.jpg.webp);
    background-size: cover;
    /* background: ; */  

}


header nav div a img{
    width: 90px;
}
header nav div div ul li{
color: aliceblue;
font-size: 20px;
padding: 5px;

} 
.clearfix{
margin-top : 5px;
margin-bottom: 5px;
padding: 20px;
background-color:  rgba(241, 247, 246, 0.767);
}
section div h2 {
    padding: 10px;
    font-size:45px ;
    border-bottom: 1px;
    border-color: black;
}
section div p{
    padding: 10px;
    text-align: justify;
    font-size: 0,5cm;
}
.seccion2, .seccion3, .seccion4{
    display: inline-flex;
    width: 100%;
 /*    background-color:   rgba(241, 247, 246, 0.767); */
}
.card{
    margin: 7px;
    }
.card-body{
    background-color: rgba(202, 201, 201, 0.705);
}
.card-text{
    height: 270px;
}
section div div div div h5{
    
    font-size: medium;
    text-align: center;
}
section div div div img{
    width: 200px;
    margin-top: 75px;
}
.quienes{
    margin-bottom: 2px;
}

/* pie de pagina */

footer{
    width: auto;
    background-color: black;
    color: white;
    line-height: 10px;
    padding: 10px;
}
.derecho, .redes{
    display: inline-block
}
.derecho{

    text-align: center;
    font-size: medium;
    padding: 30px;
    line-height: 20px;

}
footer a{
        list-style-type: none;
        display: list-item;
        padding: 2px;
        color: white;
        text-decoration: none;
        font-size: small;

}
footer a img{
    width: 20px;
}
footer a img :hover{
    background-color: rgba(104, 104, 104, 0.527);
}
